{% extends 'fritid/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>Om siden</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Dette er en ny hjemmeside, som kan give lidt inspiration til hygge med børnene eller andre.</p>
            <p>Nogle ting kan måske bruges til gaver. De kniplede billeder har jeg lavet til unge konfirmander, hvor jeg har taget udgangspunkt i deres fritidsbeskæftigelse.</p>
            <p>ved spørgsmål eller evt bestilling af billder kan jeg kontaktes her.</p>
        </div>
    </div>
</div>
{% endblock content %}